<div class="card mt-2 border-0">
  <div class="card-title justify-content">Transport Operators</div>
  <div class="card-body m-0 p-0">
    <div
      class="table-wrapper-scroll-y my-custom-scrollbar table-responsive m-0 p-0"
    >
      <table class="table table-borderless table-hover mb-0 table-sm w-100">
        <thead>
          <tr class="row">
            <div class="col d-flex justify-content-evenly text-center">
              <th scope="col">Operator's Name</th>
              <th scope="col">Date Enrolled</th>
              <th scope="col">Jeepney Count</th>
              <th scope="col">Driver Count</th>
              <th scope="col">PAO Count</th>
              <th scope="col">Status</th>
            </div>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <div class="col d-flex justify-content-evenly text-center">
              <td scope="row">1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>sample</td>
              <td>test</td>
            </div>
          </tr>
          <tr class="row">
            <div class="col d-flex justify-content-evenly text-center">
              <td scope="row">2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>sample</td>
              <td>test</td>
            </div>
          </tr>
          <tr class="row">
            <div class="col d-flex justify-content-evenly text-center">
              <td scope="row">3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>sample</td>
              <td>test</td>
            </div>
          </tr>
          <tr class="row">
            <div class="col d-flex justify-content-evenly text-center">
              <td scope="row">4</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>sample</td>
              <td>test</td>
            </div>
          </tr>
          <tr class="row">
            <div class="col d-flex justify-content-evenly text-center">
              <td scope="row">5</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>sample</td>
              <td>test</td>
            </div>
          </tr>
          <tr class="row">
            <div class="col d-flex justify-content-evenly text-center">
              <td scope="row">6</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>sample</td>
              <td>test</td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
