<div class="row mt-2">
  <div class="container">
    <div class="card border-0 rounded-0">
      <div class="container px-3 py-2">
        <!-- Card Group Start -->
        <div
          class="card m-2 border border-start-0 border-end-0 rounded-0 border-2"
        >
          <div class="card-group">
            <!-- Inner Card houses Data -->
            <div class="card py-2 border border-0 rounded-0">
              <div
                class="card border border-start-0 rounded-0 border-top-0 border-bottom-0 border-2"
                style="height: 100px"
              >
                <div class="card-body" style="height: 100px">
                  <h5 class="card-title" style="font-size: 14px">
                    No. Of Transport Operators
                  </h5>
                  <p class="card-text fw-bold fs-2">{{ TOcount }}</p>
                  <p class="card-text" style="color: gray">
                    <small style="font-size: 10px">Cebu City</small>
                  </p>
                </div>
              </div>
            </div>
            <!-- End of inner card that houses data -->
            <!-- Inner Card houses Data -->
            <div class="card py-2 border border-0">
              <div
                class="card border border-start-0 rounded-0 border-top-0 border-bottom-0 border-2"
                style="height: 100px"
              >
                <div class="card-body" style="height: 100px">
                  <h5 class="card-title" style="font-size: 14px">
                    No. Of Jeepneys
                  </h5>
                  <p class="card-text fw-bold fs-2">{{ jeepCount }}</p>
                  <p class="card-text" style="color: gray">
                    <small style="font-size: 10px">Cebu City</small>
                  </p>
                </div>
              </div>
            </div>
            <!-- End of inner card that houses data -->
            <!-- Inner Card houses Data -->
            <div class="card py-2 border border-0">
              <div
                class="card border border-start-0 rounded-0 border-top-0 border-bottom-0 border-2"
                style="height: 100px"
              >
                <div class="card-body" style="height: 100px">
                  <h5 class="card-title" style="font-size: 14px">No. Of PAO</h5>
                  <p class="card-text fw-bold fs-2">{{ paoCount }}</p>
                  <p class="card-text" style="color: gray">
                    <small style="font-size: 10px">Cebu City</small>
                  </p>
                </div>
              </div>
            </div>
            <!-- End of inner card that houses data -->
            <!-- Inner Card houses Data -->
            <div class="card py-2 border border-0">
              <div
                class="card border border-start-0 rounded-0 border-top-0 border-bottom-0 border-2"
                style="height: 100px"
              >
                <div class="card-body" style="height: 100px">
                  <h5 class="card-title" style="font-size: 14px">
                    No. Of Drivers
                  </h5>
                  <p class="card-text fw-bold fs-2">{{ driverCount }}</p>
                  <p class="card-text" style="color: gray">
                    <small style="font-size: 10px">Cebu City</small>
                  </p>
                </div>
              </div>
            </div>
            <!-- End of inner card that houses data -->
            <!-- Inner Card houses Data -->
            <div class="card py-2 border border-0">
              <div
                class="card border border-start-0 rounded-0 border-top-0 border-bottom-0 border-end-0 border-2"
                style="height: 100px"
              ></div>
            </div>
            <!-- End of inner card that houses data -->
          </div>
        </div>
        <!-- Card Group End -->
      </div>
    </div>
  </div>
</div>
