<div class="row mt-2">
  <div class="container" style="height: 9rem">
    <div class="card-group d-flex" style="max-height: max-content">
      <div class="card border border-start-0 rounded-start-0">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 14px">
            No. Of Transport Operators
          </h5>
          <p class="card-text fw-bold fs-2">{{ TOcount }}</p>
          <p class="card-text fw-light">
            <small style="font-size: 10px">Cebu City</small>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 14px">No. Of Jeepneys</h5>
          <p class="card-text fw-bold fs-2">{{ jeepCount }}</p>
          <p class="card-text">
            <small style="font-size: 10px">Cebu City</small>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 14px">No. Of PAO</h5>
          <p class="card-text fw-bold fs-2">{{ paoCount }}</p>
          <p class="card-text">
            <small style="font-size: 10px">Cebu City</small>
          </p>
        </div>
      </div>
      <div class="card border border-end-0 rounded-end-0">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 14px">No. Of Drivers</h5>
          <p class="card-text fw-bold fs-2">{{ driverCount }}</p>
          <p class="card-text">
            <small style="font-size: 10px">Cebu City</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
