<div class="card-group text-center mt-4 ps-3 pe-5">
  <div class="card border border-0 bg-transparent">
    <div class="card-body"></div>
  </div>
  <div class="card border border-0 bg-transparent" style="color: #acacac">
    <div class="card-body fst-italic">Date Enrolled</div>
  </div>
  <div class="card border border-0 bg-transparent" style="color: #acacac">
    <div class="card-body fst-italic">Jeepney Count</div>
  </div>
  <div class="card border border-0 bg-transparent" style="color: #acacac">
    <div class="card-body fst-italic">Driver Count</div>
  </div>
  <div class="card border border-0 bg-transparent" style="color: #acacac">
    <div class="card-body fst-italic">PAO Count</div>
  </div>
  <div class="card border border-0 bg-transparent" style="color: #acacac">
    <div class="card-body fst-italic">Status</div>
  </div>
</div>

<!-- Loop through data to generate a card group -->
<div class="container ps-3 pe-5 h-75 overflow-y-auto">
  <div *ngFor="let value of cardValue; index as i">
    <div class="card-group text-center mt-3">
      <div class="card border border-0 rounded-start-4">
        <div class="card-body">{{ cardValue[i]["Operator_Name"] }}</div>
      </div>
      <div class="card border border-0">
        <div class="card-body">{{ cardValue[i]["Date_Enrolled"] }}</div>
      </div>
      <div class="card border border-0">
        <div class="card-body">{{ cardValue[i]["Jeepney_Count"] }}</div>
      </div>
      <div class="card border border-0">
        <div class="card-body">{{ cardValue[i]["Driver_Count"] }}</div>
      </div>
      <div class="card border border-0">
        <div class="card-body">{{ cardValue[i]["PAO_Count"] }}</div>
      </div>
      <div class="card border border-0 rounded-end-4">
        <div class="card-body">{{ cardValue[i]["Status"] }}</div>
      </div>
    </div>
  </div>

  <!-- End of card group -->
</div>
